@font-face {
    font-family: gotham;
    src: url('/fonts/gotham/Gotham-Medium.otf');
}

@font-face {
    font-family: Helvetica;
    src: url('/fonts/Helvetica.ttf');
}

.navigation-bar {
    background-color: #383838;
    height: 50px;
    width: 100%;
    position: fixed;
    z-index: 100000;
}

.navigation-bar img {
    height: 50px;
}

.desk-navigation {
    display: none;
}

.logo span {
    color: #fff;
    font-size: 20px;
    position: relative;
    top: 3px;
    padding-left: 10px;
    font-weight: 800;
    font-family: gotham;
    text-transform: uppercase;
}

.mobile-menu i {
    color: #fff;
    font-size: 30px;
    position: relative;
    top: -40px;
}

.main-home {
    background: #bdbcbc88;
    position: relative;
    top: 50px;
}

.ff-taco img {
    height: 30px;
}

.bar-details {
    padding-top: 10px;
    padding-bottom: 10px;
}

.desktop-tab-header {
    display: none;
}

.bar-details span {
    padding-left: 10px;
    font-family: gotham;
    text-transform: capitalize;
}

.card-title {
    text-transform: capitalize;
    font-weight: 400;
    letter-spacing: -1px;
}

.products-sec {
    border-top: 1px solid #eee;
    padding-top: 20px;
    padding-bottom: 20px;
}

.order-ready {
    width: 50%;
    text-align: left;
    color: #d35266;
    font-family: gotham;
    text-transform: capitalize;
}

.card h6 {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: capitalize;
    font-size: 14px;
    letter-spacing: 1px;
}

.card-buttons {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.add-collection {
    flex: 1;
}

.card-buttons .add-collection i {
    font-size: 30px;
    color: #888888;
    cursor: pointer;
}

.price-tags {
    flex: 1;
    color: #d35266;
    font-family: gotham;
    text-align: right;
    font-size: 20px;
}

.products-sec .card {
    width: 100%;
    border: 1px solid #cac3c3;
    min-height: 450px;
}

.products-sec .card img {
    height: 200px;
}

.product {
    padding-bottom: 10px;
}

footer {
    border-top: 1px solid #eee;
    position: relative;
    top: 50px;
    background-color: #fff;
}

footer .logo img {
    height: 50px;
}

footer .logo span {
    color: #aba4a4;
    text-transform: uppercase;
}

footer p {
    padding-top: 10px;
    text-align: left;
    color: #aba4a4;
    font-family: Helvetica;
    font-weight: 200;
}

.logo-sec {
    padding-top: 10px;
}

footer .category-sec h3 {
    color: #d35266;
    position: relative;
    left: 100%;
    text-decoration: underline;
}

footer ul {
    list-style-type: none;
}

/* media queries */

@media screen and (min-width: 798px) {
    .mobile-menu {
        display: none;
    }
    .desk-navigation {
        display: inline;
    }
    .desk-navigation ul {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        list-style-type: none;
        position: relative;
        top: 3px;
    }
    .desk-navigation ul .active {
        color: #d35266;
    }
    .desk-navigation ul li {
        color: #888888;
        padding: 10px;
        text-transform: uppercase;
        font-weight: 600;
    }
    .desk-navigation ul :nth-child(4) {
        background-color: #d35266;
        color: #fff;
    }
    .desktop-tab-header {
        height: 350px;
        display: block;
        background-color: #d35266;
        border-radius: unset;
    }
    .header-details {
        text-align: center;
    }
    .header-details h1 {
        color: #fff;
        padding-left: 10px;
        font-weight: 800;
        font-family: gotham;
        text-transform: uppercase;
        font-size: 2rem;
    }
    .header-details h2 {
        text-transform: capitalize;
        font-weight: 400;
        padding-top: 10px;
        font-size: 1.5rem;
        padding-bottom: 10px;
        color: #fff;
    }
    .header-details .header-search-inputs {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        width: 100%;
    }
    .header-details .drop-down {
        width: 25%;
    }
    .drop-down select {
        width: 100%;
        height: 38px;
        border: unset;
        position: relative;
        top: 1px;
    }
    .search-input input {
        width: 100%;
        height: 38px;
        border: unset;
        position: relative;
        top: 1px;
        border-left: 1px solid #000;
    }
    .submit-search button {
        width: 60%;
        background-color: #000;
        color: #fff;
        height: 38px;
        border: unset;
        position: relative;
        top: 1px;
    }
}